*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    font-size: 4rem;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.container{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}
.choice:hover{
    border-radius: 5px solid black;
    background-color: rgb(12, 7, 0);
    padding: 0.5rem;
    cursor: pointer;
}
.choice{
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    border-radius: 50%;

    
}
.image{
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.score-bord{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 8rem;
}
.score{
    justify-content: center;
    text-align: center;
}
.msg-container{
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.move{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.592);
    display: inline;

}
#div1,#div3{
    margin-top: 5rem;
}