.container{
    background-color: rgb(242, 205, 205);
    height: 700px;

}
h1,h2{
    text-align: center;
}
botton{
    background-color: blue;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    align-items: center;
}
 botton:hover {
    background-color: rgb(19, 105, 180);
    padding: 12px;
}