.container{
    background-color: rgb(242, 205, 205);
    height: 700px;
    /* padding: 100px; */

}
.paragraph{
    text-align: center;
    font-size: 20px;
    color: brown;
    border: 5px solid rgb(113, 113, 19);
}
h1,h2,h3{
    
    text-align: center;
}
botton{
    background-color: blue;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    align-items: center;
}
 botton:hover {
    background-color: rgb(19, 105, 180);
    padding: 12px;
}